@model IEnumerable<Usuario>
@{
    ViewData["Title"] = "ListaUser";
}

<table>
    <thead>
        <tr><th>Id</th>
            <th>Nome</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Data de Nascimento</th>
            <th>Ações</th></tr>
    </thead>
    @foreach(Usuario u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.Nome</td>
            <td>@u.Login</td>
            <td>@u.Senha</td>
            <td>@u.DataNascimento.ToString("dd/mm/yyyy")</td>
            <td>
                <a href="/Usuario/EditarUser?Id=@u.Id">Editar</a>
                <a href="/Usuario/RemoverUser?Id=@u.Id">Remover</a>
                </td>
        </tr>
    }
</table>